@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;1,100;1,200&display=swap');

/*---------------------------------Nav-bar--*/

.nav-text {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.7em;
    color: rgb(120, 120, 120);
    padding-top: 5em;
}

.nav-text:hover {color: black;}

.nav-row {
    padding-top: 1em;
    padding-bottom: 1em;    
    text-align: center;
}

@media only screen and (max-width: 600px) {
  .nav-text {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .nav-text {
    font-size: 0.5em;
  }
}

.active {
  text-decoration: underline 2px;
}
/*--------------------------index.html--*/

/*------Overlay of text on Hero-image code from W3 Schools URL:https://www.w3schools.com/howto/howto_css_image_text.asp--*/
.overlay {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  font-size: 5em;
}
/*---End of code from W3 Schools--*/

#hero-image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  background-color: grey;
}

.header-row {
  padding-top: 1em;
  padding-bottom: 1em;    
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  color: rgb(120, 120, 120);
}

.body-text {
  font-family: 'Noto Sans', sans-serif;
  padding: 12px 40px;
  font-size: 1.7em;
  text-align: center;
}

#what-we-do {
  padding-bottom: 50px;
}

@media only screen and (min-width: 1000px) {
  .body-text {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .body-text {
    font-size: 1.2em;
  }

  .header-row {
    font-size: 1.7em;
  }
}

#secondary {
  max-width: 100%;
  background-color: lightsteelblue;
}

/*---Overlay of text on Hero-image code from W3 Schools URL:https://www.w3schools.com/howto/howto_css_image_text.asp--*/
#centered-secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  font-size: 4em;
}

/*--End of code from W3 Schools-*/

@media only screen and (max-width: 700px) {
  #secondary-text {
    font-size: 0.3em;
  }
}

@media only screen and (min-width: 701px) {
  #secondary-text {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
  #trek-ahead {
    font-size: 2.5em;
  }
}

.review-name {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding-top: 2em;
}

.review-text {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 1em;
}

.fa-solid {
  color: #b8e7e9;
}

/*------------------------------------Footer--*/

.footer-row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-brand {
  text-align: end;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  color: rgb(120, 120, 120)
}

.footer-text {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 1.5em;
}

@media only screen and (max-width: 450px) {
  .footer-brand {
    font-size: 1em;
  }
  .footer-text {
    font-size: 1em;
  }
}

.fa-brands {
  color: #b8e7e9;
  font-size: larger;
}

@media only screen and (max-width: 400px) {
  .fa-brands {
    font-size: smaller;
  }
}

.footer-border {
  border-right: 2px solid rgb(209, 206, 206);
}

.footer-link {
  text-decoration: none;
  color: rgb(120, 120, 120)
}

.footer-link:hover {color: black;}

/*----------------------------------Sustainability.html--*/

@media only screen and (max-width: 550px) {
  #sustainability {
    font-size: 2.5em;
  }
}

.sustainability-text {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 1.3em;
  text-align: center;
}

#sustainability-row {
  padding-bottom: 2em;
}

.fa-sustainability {
  color: rgb(182, 223, 182);
}

#countryside-code {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(182, 223, 182);
  text-align: center;
  font-size: 1.5em;
}

#code-link {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(182, 223, 182);
  text-decoration: none;
  text-align: center;
}

#code-link:hover {color: rgb(134, 176, 134);}

/*------------------------------------Designed.html--*/

@media only screen and (max-width: 450px) {
  #designed {
    font-size: 3em;
  }
}

#offer {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 2em;
  text-align: center;
  padding-top: 50px;
}

#contact {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  #offer {
    font-size: 1.5em;
  }
  #contact {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  #offer {
    font-size: 1em;
  }
  #contact {
    font-size: 1em;
  }
}

form {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
}

.btn {
  color: #b8e7e9;
  border: 1px solid #b8e7e9;
}

/*-----------------------------------Hikes.html--*/

#map {
  height: 500px;
  width: 100%;
  background-color: gainsboro;
}

@media only screen and (max-width: 400px) {
  #map {
    height: 400px;
  }
}

.hikes-info {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .hikes-info {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 400px) {
  .hikes-info {
    font-size: 1em;
  }
}

#hikes-link {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

#hikes-link:hover {color: black;}

#difficulty-row {
  padding-bottom: 2em;
}

.card {
  text-align: center;
  margin: 1em;
  font-family: 'Noto Sans', sans-serif;
}

#reviews-info {
  font-family: 'Playfair Display', serif;
  color: rgb(120, 120, 120);
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}

@media only screen and (max-width: 450px) {
  #reviews-info {
    font-size: 2em
  }
}